# This is a basic workflow to help you get started with Actions

name: Windows Installer build

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      COPASI_REPOSITORY:
        description: "COPASI repository"
        required: true
        default: https://github.com/copasi/COPASI.git

      COPASI_DEPENDENCIES_REPOSITORY:
        description: "COPASI dependencies repository"
        required: true
        default: https://github.com/copasi/copasi-dependencies.git

      COPASI_DEPENDENCIES_CLONE_OPTS:
        description: "COPASI dependencies clone options"
        required: false
        default: ""

      ARTIFACT_COMMENT:
        description: "Artifact comment"
        required: false
        default: ""

      QT_VERSION_NUMBER:
        description: "QT version number"
        required: true
        default: 6.10.0

  # run this task every week at 2am
  schedule:
    - cron: '0 2 * * 0'

env:
  COPASI_REPOSITORY: ${{ inputs.COPASI_REPOSITORY || 'https://github.com/copasi/COPASI.git' }}
  COPASI_DEPENDENCIES_REPOSITORY: ${{ inputs.COPASI_DEPENDENCIES_REPOSITORY || 'https://github.com/copasi/copasi-dependencies.git' }}
  COPASI_DEPENDENCIES_CLONE_OPTS: ${{ inputs.COPASI_DEPENDENCIES_CLONE_OPTS || '' }}
  ARTIFACT_COMMENT: ${{ inputs.ARTIFACT_COMMENT || '' }}
  QT_VERSION_NUMBER: ${{ inputs.QT_VERSION_NUMBER || '6.10.0' }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: Add msbuild to PATH (Windows)
        uses: ilammy/msvc-dev-cmd@v1
        with: 
          arch: x86_64

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
      
      - name: install choco dependencies
        shell: cmd
        run: |
          choco install --no-progress -y wget astyle zip innosetup
          choco install --no-progress -y --force Temurin8 --params="/ADDLOCAL=FeatureMain,FeatureEnvironment,FeatureJarFileRunWith,FeatureJavaHome /INSTALLDIR=%cd%\openjdk\" /quiet

      - name: create virtual environment
        shell: cmd
        run: |
          python -m venv env-build
          call .\env-build\Scripts\activate.bat
          pip install aqtinstall mkl-static swig cmake ninja 
          aqt install-qt windows desktop %QT_VERSION_NUMBER% win64_msvc2022_64 -m qt5compat qtcharts qtdatavis3d
          echo %PATH% >> $GITHUB_ENV

      - name: checkout build system
        run: |
          git clone https://github.com/copasi/build-system
          
      - name: initialize build system
        shell: bash
        run: |
          # print bash version
          bash --version
          # print bash location
          which bash
          
          export PATH=$PWD\env-build\Scripts:$PATH
          export HOME_BUILD_SYSTEM=$PWD
          source build-system/profile/windows-msys 
          export Qt6_DIR=$PWD/${QT_VERSION_NUMBER}/msvc2022_64
          export PATH=$PWD/${QT_VERSION_NUMBER}/msvc2022_64/bin/:$PATH
          export SELECT_QT=Qt6
          export JAVA_HOME=$PWD/openjdk

          # emerge 
          emerge 

          # build dependencies, ignore exit code
          install-dependencies || true

          # build release
          release --branch release/Version-4.46 --comment stable --noscp

      - uses: actions/upload-artifact@v4
        with:
          name: windows-${{ env.ARTIFACT_COMMENT }}
          path: |
            build-system/packages/setup.release/*.zip
            build-system/packages/setup.release/*.exe
            build-system/packages/setup.release/*.tar.gz
          retention-days: 7
          if-no-files-found: error
